Raiz.Deployment.ClientManager/Service References/DeployService/Raiz.Deployment.DTO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Raiz.Deployment.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Raiz.Deployment.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPubComponente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PubComponente" nillable="true" type="tns:PubComponente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPubComponente" nillable="true" type="tns:ArrayOfPubComponente" />
  <xs:complexType name="PubComponente">
    <xs:sequence>
      <xs:element minOccurs="0" name="componente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descargaObligatoria" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="fechaRegistro" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idModulo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idPublicacion" type="xs:int" />
      <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PubComponente" nillable="true" type="tns:PubComponente" />
</xs:schema>