Raiz.Deployment.ClientManager/Service References/DeployService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DeployService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDeployService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Raiz.Deployment.DTO" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDeployService_ConsultarPublicaciones_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPublicaciones" />
  </wsdl:message>
  <wsdl:message name="IDeployService_ConsultarPublicaciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPublicacionesResponse" />
  </wsdl:message>
  <wsdl:message name="IDeployService_ConsultarPublicacionPorComponente_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPublicacionPorComponente" />
  </wsdl:message>
  <wsdl:message name="IDeployService_ConsultarPublicacionPorComponente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPublicacionPorComponenteResponse" />
  </wsdl:message>
  <wsdl:message name="IDeployService_RegistrarPublicacion_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarPublicacion" />
  </wsdl:message>
  <wsdl:message name="IDeployService_RegistrarPublicacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarPublicacionResponse" />
  </wsdl:message>
  <wsdl:message name="IDeployService_ListarSuscriptores_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarSuscriptores" />
  </wsdl:message>
  <wsdl:message name="IDeployService_ListarSuscriptores_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarSuscriptoresResponse" />
  </wsdl:message>
  <wsdl:message name="IDeployService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IDeployService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IDeployService_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="IDeployService_Notificar_InputMessage">
    <wsdl:part name="parameters" element="tns:Notificar" />
  </wsdl:message>
  <wsdl:message name="IDeployService_Notificar_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotificarResponse" />
  </wsdl:message>
  <wsdl:message name="IDeployService_NotificarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:NotificarUsuario" />
  </wsdl:message>
  <wsdl:message name="IDeployService_NotificarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotificarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IDeployService_EnviarMensajeCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarMensajeCliente" />
  </wsdl:message>
  <wsdl:message name="IDeployService_EnviarMensajeCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarMensajeClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IDeployService_ForzarCierreAplicacionCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ForzarCierreAplicacionCliente" />
  </wsdl:message>
  <wsdl:message name="IDeployService_ForzarCierreAplicacionCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ForzarCierreAplicacionClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IDeployService_ListarVersionesInstaladasCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarVersionesInstaladasCliente" />
  </wsdl:message>
  <wsdl:message name="IDeployService_ListarVersionesInstaladasCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarVersionesInstaladasClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IDeployService_ConsultarPublicacionesPorUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPublicacionesPorUsuario" />
  </wsdl:message>
  <wsdl:message name="IDeployService_ConsultarPublicacionesPorUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPublicacionesPorUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IDeployService_RecepcionarNotificacionMasiva_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecepcionarNotificacionMasiva" />
  </wsdl:message>
  <wsdl:message name="IDeployService_RecepcionarNotificacionPersonal_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecepcionarNotificacionPersonal" />
  </wsdl:message>
  <wsdl:message name="IDeployService_RecepcionarMensajePersonal_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecepcionarMensajePersonal" />
  </wsdl:message>
  <wsdl:message name="IDeployService_ForzarCierreAplicacion_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ForzarCierreAplicacion" />
  </wsdl:message>
  <wsdl:message name="IDeployService_VersionesInstaladasCliente_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:VersionesInstaladasCliente" />
  </wsdl:message>
  <wsdl:message name="IDeployService_VersionesInstaladasCliente_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:VersionesInstaladasClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IDeployService">
    <wsdl:operation name="ConsultarPublicaciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeployService/ConsultarPublicaciones" message="tns:IDeployService_ConsultarPublicaciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeployService/ConsultarPublicacionesResponse" message="tns:IDeployService_ConsultarPublicaciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPublicacionPorComponente">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeployService/ConsultarPublicacionPorComponente" message="tns:IDeployService_ConsultarPublicacionPorComponente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeployService/ConsultarPublicacionPorComponenteResponse" message="tns:IDeployService_ConsultarPublicacionPorComponente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarPublicacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeployService/RegistrarPublicacion" message="tns:IDeployService_RegistrarPublicacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeployService/RegistrarPublicacionResponse" message="tns:IDeployService_RegistrarPublicacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarSuscriptores">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeployService/ListarSuscriptores" message="tns:IDeployService_ListarSuscriptores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeployService/ListarSuscriptoresResponse" message="tns:IDeployService_ListarSuscriptores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeployService/Subscribe" message="tns:IDeployService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeployService/SubscribeResponse" message="tns:IDeployService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeployService/Unsubscribe" message="tns:IDeployService_Unsubscribe_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Notificar">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeployService/Notificar" message="tns:IDeployService_Notificar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeployService/NotificarResponse" message="tns:IDeployService_Notificar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeployService/NotificarUsuario" message="tns:IDeployService_NotificarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeployService/NotificarUsuarioResponse" message="tns:IDeployService_NotificarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarMensajeCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeployService/EnviarMensajeCliente" message="tns:IDeployService_EnviarMensajeCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeployService/EnviarMensajeClienteResponse" message="tns:IDeployService_EnviarMensajeCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ForzarCierreAplicacionCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeployService/ForzarCierreAplicacionCliente" message="tns:IDeployService_ForzarCierreAplicacionCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeployService/ForzarCierreAplicacionClienteResponse" message="tns:IDeployService_ForzarCierreAplicacionCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarVersionesInstaladasCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeployService/ListarVersionesInstaladasCliente" message="tns:IDeployService_ListarVersionesInstaladasCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeployService/ListarVersionesInstaladasClienteResponse" message="tns:IDeployService_ListarVersionesInstaladasCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPublicacionesPorUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeployService/ConsultarPublicacionesPorUsuario" message="tns:IDeployService_ConsultarPublicacionesPorUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeployService/ConsultarPublicacionesPorUsuarioResponse" message="tns:IDeployService_ConsultarPublicacionesPorUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecepcionarNotificacionMasiva">
      <wsdl:output wsaw:Action="http://tempuri.org/IDeployService/RecepcionarNotificacionMasiva" message="tns:IDeployService_RecepcionarNotificacionMasiva_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecepcionarNotificacionPersonal">
      <wsdl:output wsaw:Action="http://tempuri.org/IDeployService/RecepcionarNotificacionPersonal" message="tns:IDeployService_RecepcionarNotificacionPersonal_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecepcionarMensajePersonal">
      <wsdl:output wsaw:Action="http://tempuri.org/IDeployService/RecepcionarMensajePersonal" message="tns:IDeployService_RecepcionarMensajePersonal_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ForzarCierreAplicacion">
      <wsdl:output wsaw:Action="http://tempuri.org/IDeployService/ForzarCierreAplicacion" message="tns:IDeployService_ForzarCierreAplicacion_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="VersionesInstaladasCliente">
      <wsdl:output wsaw:Action="http://tempuri.org/IDeployService/VersionesInstaladasCliente" message="tns:IDeployService_VersionesInstaladasCliente_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IDeployService/VersionesInstaladasClienteResponse" message="tns:IDeployService_VersionesInstaladasCliente_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IDeployService" type="tns:IDeployService">
    <wsp:PolicyReference URI="#NetTcpBinding_IDeployService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ConsultarPublicaciones">
      <soap12:operation soapAction="http://tempuri.org/IDeployService/ConsultarPublicaciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPublicacionPorComponente">
      <soap12:operation soapAction="http://tempuri.org/IDeployService/ConsultarPublicacionPorComponente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarPublicacion">
      <soap12:operation soapAction="http://tempuri.org/IDeployService/RegistrarPublicacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarSuscriptores">
      <soap12:operation soapAction="http://tempuri.org/IDeployService/ListarSuscriptores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://tempuri.org/IDeployService/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <soap12:operation soapAction="http://tempuri.org/IDeployService/Unsubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Notificar">
      <soap12:operation soapAction="http://tempuri.org/IDeployService/Notificar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarUsuario">
      <soap12:operation soapAction="http://tempuri.org/IDeployService/NotificarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarMensajeCliente">
      <soap12:operation soapAction="http://tempuri.org/IDeployService/EnviarMensajeCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForzarCierreAplicacionCliente">
      <soap12:operation soapAction="http://tempuri.org/IDeployService/ForzarCierreAplicacionCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarVersionesInstaladasCliente">
      <soap12:operation soapAction="http://tempuri.org/IDeployService/ListarVersionesInstaladasCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPublicacionesPorUsuario">
      <soap12:operation soapAction="http://tempuri.org/IDeployService/ConsultarPublicacionesPorUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecepcionarNotificacionMasiva">
      <soap12:operation soapAction="http://tempuri.org/IDeployService/RecepcionarNotificacionMasiva" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecepcionarNotificacionPersonal">
      <soap12:operation soapAction="http://tempuri.org/IDeployService/RecepcionarNotificacionPersonal" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecepcionarMensajePersonal">
      <soap12:operation soapAction="http://tempuri.org/IDeployService/RecepcionarMensajePersonal" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForzarCierreAplicacion">
      <soap12:operation soapAction="http://tempuri.org/IDeployService/ForzarCierreAplicacion" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VersionesInstaladasCliente">
      <soap12:operation soapAction="http://tempuri.org/IDeployService/VersionesInstaladasCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeployService">
    <wsdl:port name="NetTcpBinding_IDeployService" binding="tns:NetTcpBinding_IDeployService">
      <soap12:address location="net.tcp://localhost:9000/RaizSOAServices/DeployService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9000/RaizSOAServices/DeployService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>