Raiz.Deployment.ClientManager/Service References/DeployService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Raiz.Deployment.DTO" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="ConsultarPublicaciones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPublicacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Raiz.Deployment.DTO" minOccurs="0" name="ConsultarPublicacionesResult" nillable="true" type="q1:ArrayOfPubComponente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPublicacionPorComponente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="componente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPublicacionPorComponenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Raiz.Deployment.DTO" minOccurs="0" name="ConsultarPublicacionPorComponenteResult" nillable="true" type="q2:PubComponente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarPublicacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Raiz.Deployment.DTO" minOccurs="0" name="publicacion" nillable="true" type="q3:PubComponente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarPublicacionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSuscriptores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSuscriptoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Raiz.Deployment.DTO" minOccurs="0" name="ListarSuscriptoresResult" nillable="true" type="q4:ArrayOfSuscritor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Raiz.Deployment.DTO" minOccurs="0" name="suscrito" nillable="true" type="q5:Suscritor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SubscribeResult" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Unsubscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientId" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Notificar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientId" type="q8:guid" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Raiz.Deployment.DTO" minOccurs="0" name="actualizaciones" nillable="true" type="q9:ArrayOfPubComponente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idOrigen" type="q10:guid" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idDestino" type="q11:guid" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Raiz.Deployment.DTO" minOccurs="0" name="actualizaciones" nillable="true" type="q12:ArrayOfPubComponente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarMensajeCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idOrigen" type="q13:guid" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idDestino" type="q14:guid" />
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="msje" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarMensajeClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ForzarCierreAplicacionCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idOrigen" type="q15:guid" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idDestino" type="q16:guid" />
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForzarCierreAplicacionClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarVersionesInstaladasCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idOrigen" type="q17:guid" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idDestino" type="q18:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarVersionesInstaladasClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Raiz.Deployment.DTO" minOccurs="0" name="ListarVersionesInstaladasClienteResult" nillable="true" type="q19:ArrayOfDescargaComponente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecepcionarNotificacionMasiva">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Raiz.Deployment.DTO" minOccurs="0" name="actualizaciones" nillable="true" type="q20:ArrayOfPubComponente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecepcionarNotificacionPersonal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Raiz.Deployment.DTO" minOccurs="0" name="actualizaciones" nillable="true" type="q21:ArrayOfPubComponente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecepcionarMensajePersonal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="msje" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForzarCierreAplicacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VersionesInstaladasCliente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VersionesInstaladasClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Raiz.Deployment.DTO" minOccurs="0" name="VersionesInstaladasClienteResult" nillable="true" type="q22:ArrayOfDescargaComponente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>