Raiz.Deployment.ClientManager/Service References/DeployService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DeployService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDeployService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Raiz.Deployment.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDeployService_ConsultarPublicaciones_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPublicaciones" />
  </wsdl:message>
  <wsdl:message name="IDeployService_ConsultarPublicaciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPublicacionesResponse" />
  </wsdl:message>
  <wsdl:message name="IDeployService_ConsultarPublicacionPorComponente_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPublicacionPorComponente" />
  </wsdl:message>
  <wsdl:message name="IDeployService_ConsultarPublicacionPorComponente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPublicacionPorComponenteResponse" />
  </wsdl:message>
  <wsdl:message name="IDeployService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IDeployService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IDeployService_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="IDeployService_Notificar_InputMessage">
    <wsdl:part name="parameters" element="tns:Notificar" />
  </wsdl:message>
  <wsdl:message name="IDeployService_Notificar_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotificarResponse" />
  </wsdl:message>
  <wsdl:message name="IDeployService_RecepcionarNotificacion_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecepcionarNotificacion" />
  </wsdl:message>
  <wsdl:portType name="IDeployService">
    <wsdl:operation name="ConsultarPublicaciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeployService/ConsultarPublicaciones" message="tns:IDeployService_ConsultarPublicaciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeployService/ConsultarPublicacionesResponse" message="tns:IDeployService_ConsultarPublicaciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPublicacionPorComponente">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeployService/ConsultarPublicacionPorComponente" message="tns:IDeployService_ConsultarPublicacionPorComponente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeployService/ConsultarPublicacionPorComponenteResponse" message="tns:IDeployService_ConsultarPublicacionPorComponente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeployService/Subscribe" message="tns:IDeployService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeployService/SubscribeResponse" message="tns:IDeployService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeployService/Unsubscribe" message="tns:IDeployService_Unsubscribe_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Notificar">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeployService/Notificar" message="tns:IDeployService_Notificar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeployService/NotificarResponse" message="tns:IDeployService_Notificar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecepcionarNotificacion">
      <wsdl:output wsaw:Action="http://tempuri.org/IDeployService/RecepcionarNotificacion" message="tns:IDeployService_RecepcionarNotificacion_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IDeployService" type="tns:IDeployService">
    <wsp:PolicyReference URI="#NetTcpBinding_IDeployService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ConsultarPublicaciones">
      <soap12:operation soapAction="http://tempuri.org/IDeployService/ConsultarPublicaciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPublicacionPorComponente">
      <soap12:operation soapAction="http://tempuri.org/IDeployService/ConsultarPublicacionPorComponente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://tempuri.org/IDeployService/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <soap12:operation soapAction="http://tempuri.org/IDeployService/Unsubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Notificar">
      <soap12:operation soapAction="http://tempuri.org/IDeployService/Notificar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecepcionarNotificacion">
      <soap12:operation soapAction="http://tempuri.org/IDeployService/RecepcionarNotificacion" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeployService">
    <wsdl:port name="NetTcpBinding_IDeployService" binding="tns:NetTcpBinding_IDeployService">
      <soap12:address location="net.tcp://localhost:9000/RaizSOAServices/DeployService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9000/RaizSOAServices/DeployService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>